body{
  background: #202020
}
.header {
  font-family:"Fira Sans", "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 30px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #089900;
  color: white;
  padding:10px;
  outline: 5px solid #055c00;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #089900;
  color: white;
  text-align: center;
  outline: 5px solid #055c00;
  padding: 10px
}
.nav{
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding-left:20px;
  padding-right:20px;
}
.navtext{
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding-left:20px;
  padding-right:20px;
}
body{
  color: white;
}

.main{
  margin-top: 40px;
}
